<!DOCTYPE html>
<html>
    <meta charset="utf-8" /> 
    <head>
        <title>board.ktty.cat</title>
        <link rel="stylesheet" href="https://npmcdn.com/hack@0.5.0">
        <script src="mustache.js.min"></script>
        <style>
          .message-image {
              border: 0;
              clear: both;
              float: left;
              margin: 15px 20px 20px 0;
              vertical-align: top;
              width: 128px;
              height: auto;
              max-height: 256px;
          }

          .message-body {
              white-space: pre-wrap;
              line-height: 1.2em;
          }

          .media article {
              display: table;
          }

          .media-body {
              padding: 7px 10px 7px 10px;
              border: 1px solid #ccc;
              border-top-color: rgb(204, 204, 204);
              border-top-style: solid;
              border-top-width: 1px;
              border-right-color: rgb(204, 204, 204);
              border-right-style: solid;
              border-right-width: 1px;
              border-bottom-color: rgb(204, 204, 204);
              border-bottom-style: solid;
              border-bottom-width: 1px;
              border-left-color: rgb(204, 204, 204);
              border-left-style: solid;
              border-left-width: 1px;
              border-image-source: initial;
              border-image-slice: initial;
              border-image-width: initial;
              border-image-outset: initial;
              border-image-repeat: initial;
          }

          .media-heading time:before {
              content: " ";
          }

          .media-heading time:after {
              content: " ";
          }

          .form-control {
              width: 75%;
              resize: both;
          }

          .navigation-link {
              border-bottom: none;
          }

          input[type="file"] {
              display: none;
          }

          .file-upload {
              border: 1px solid #ccc;
              display: inline-block;
              padding: 6px 12px;
              cursor: pointer;
          }

          .error-message {
              display: none;
              float: right;
          }

          .quote-link {
              border-bottom: none;
              padding-right: 0.5em;
              padding-left: 0.5em;
          }

          .hack h1 {
              font-size: 2rem;
          }
        </style>

        <script id="post-template" type="x-tmpl-mustache">
            <div class="media-body">
                <div class="media-heading">
                    <b class="name">{{name}}</b>
                    <time title="{{date}}">{{date}}</time>
                    <a href="#{{post}}" class="navigation-link">No. {{post}}</a>
                    <span class="quotes" id="{{post}}-quotes"></span>
                </div>

                <div class="image">
                    <a target="_blank" rel="nofollow" href="{{image}}">
                        <img src="{{image}}" height="128" class="message-image">
                    </a>
                </div>
                    <div class="message-body">
{{{body}}}
                    </div>
            </div>
        </script>
    </head>

    <body class="hack">
        <div class="container">
            <h1>board.ktty.cat</h1>
        </div>

        <div id=thread class="container">
        </div>

        <form class="container" method="post" id="post-form" name="post-form"
              accept-charset="utf-8" enctype="multipart/form-data">
            <div class="error-message alert alert-error" id="error-message">Error message</div>
            <label for="file-upload" id="file-upload-label" class="btn btn-ghost file-upload">
                Image: None selected
            </label>
            <input id="file-upload" name="image" type="file" required/>
            <fieldset class="form-group form-textarea">
                <label for="message">MESSAGE:</label>
                <textarea id="message" rows="8" class="form-control" name="message"></textarea>
            </fieldset>
            <div class="form-actions">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>

        <script>
            var template = document.getElementById('post-template').innerHTML;

            var myPosts = JSON.parse(sessionStorage.getItem("my-posts")) || [];

            Mustache.parse(template);

            document.addEventListener("DOMContentLoaded", function() {
                'use strict';

                var protocol = window.location.protocol == "https:" ? "wss" : "ws";
                var host = window.location.hostname;
                var port = (location.port ? ':'+location.port: '')

                    var ws = null;

                function start(){
                    ws = new WebSocket(protocol + "://" + host + port + "/ws");
                    ws.onopen = function(){
                        console.log('connected!');
                        document.getElementById('thread').innerHTML = "";
                    };
                    ws.onmessage = function(e){
                        console.log(e.data);
                    };
                    ws.onclose = function(){
                        console.log('closed!');
                        check();
                    };

                    ws.onmessage = function (event) {
                        var obj = JSON.parse(event.data);

                        var thread = document.getElementById('thread');

                        function linker(match, n, offset, string) {
                            var you = "";

                            var quotes = document.getElementById(n + "-quotes");

                            quotes.innerHTML += "<a href=\"#" + obj.post
                                + "\" class=\"quote-link quote-link-small\">&gt;&gt;"
                                + obj.post + "</a>"

                                myPosts.map( function(item) {
                                    if (item === parseInt(n)) {
                                        you = " (You)";
                                    }
                                });

                            return "<a href=\"#" + n
                                + "\" class=\"quote-link\">&gt;&gt;"
                                + n + you + "</a>";
                        }
                        var body = obj.message.replace(/\>\>(\d+)/g, linker);

                        var rendered = Mustache.render(template,
                                {
                                    name: obj.name,
                                    image: obj.image,
                                    date: obj.date,
                                    post: obj.post,
                                    body: body,
                                }
                                );

                        var message = document.createElement('article');
                        message.classList.add('media');
                        message.id = obj.post;
                        message.innerHTML = rendered;
                        thread.appendChild(message);
                    };

                }

                function check(){
                    if(!ws || ws.readyState === WebSocket.CLOSED) start();
                }

                start();

                setInterval(check, 5000);
            });

            function setImageName(name) {
                document.getElementById("file-upload-label").innerHTML = 
                    "Image: " + name;
            }

            function showError(message) {
                var msgElm = document.getElementById("error-message");
                msgElm.style.display = "inline";
                msgElm.innerHTML = "Error: " + message;

            }

            function clearError() {
                var msgElm = document.getElementById("error-message");
                msgElm.style.display = "none";
            }

            window.addEventListener("load", function () {
                function sendData() {
                    var xhr = new XMLHttpRequest();

                    var FD  = new FormData(form);

                    xhr.addEventListener("load", function(event) {
                        document.getElementById('message').value = "";
                    });

                    xhr.addEventListener("error", function(event) {
                        alert('Oups! Something goes wrong.');
                    });

                    xhr.onreadystatechange = function() {
                        var m;
                        if (xhr.readyState == XMLHttpRequest.DONE) {
                            m = JSON.parse(xhr.responseText);
                            if (xhr.status == 200) {
                                clearError();
                                myPosts.push(m.post_number);
                                console.log(myPosts);
                                sessionStorage.setItem("my-posts", JSON.stringify(myPosts));
                            }
                            if (xhr.status == 409) {
                                showError(m.message);
                            }
                        }
                    }

                    xhr.open("POST", "/post");
                    xhr.send(FD);
                }

                var form = document.getElementById("post-form");

                form.addEventListener("submit", function (event) {
                    event.preventDefault();
                    sendData();
                    document.getElementById("file-upload").value = "";
                    setImageName("None selected");
                });
            });

            document.getElementById("file-upload").onchange = function () {
                setImageName(this.value);
            };
        </script>
    </body>
</html>
